{{!
@param Array<Array<URI, URI>> selectors
@param float                  maximum-indegree
@param float                  minimum-indegree
}}

PREFIX dbo:     <http://dbpedia.org/ontology/>
PREFIX rdfs:    <http://www.w3.org/2000/01/rdf-schema#>

SELECT ?difficulty (COUNT(?subject) AS ?size)
WHERE {
  {
    SELECT ?subject (IF(?indegree > {{minimum-indegree}} && ?indegree < {{maximum-indegree}}, "normal",
                     IF(?indegree > {{maximum-indegree}}, "easy", "hard")) AS ?difficulty)
    WHERE {
      GRAPH <http://dbpedia.org/db-quiz> {
        VALUES ?class {
          {{#selectors}}
          <{{{o}}}>
          {{/selectors}}
        }
        ?subject a ?class ;
          dbo:wikiPageInDegree ?indegree .
      }
    }
  }
}
GROUP BY ?difficulty
