{{!
@param Array<Array<URI, URI>> selectors
}}

PREFIX dbo: <http://dbpedia.org/ontology/>

SELECT (MAX(?count) AS ?maxCount)
WHERE {
  {
    SELECT (COUNT(?subject) AS ?count)
    WHERE {
      {
        SELECT ?subject ?indegree 
        WHERE {
          GRAPH <http://dbpedia.org/db-quiz> {
            VALUES (?p ?o) {
              {{#selectors}}
              (<{{{p}}}> <{{{o}}}>)
              {{/selectors}}
            }
            ?subject ?p ?o ;
              dbo:wikiPageInDegree ?indegree .
          }
        }
      }
    }
    GROUP BY ?indegree
  }
}
