{{!
@param Array<Array<URI, URI>> selectors
}}

PREFIX dbo: <http://dbpedia.org/ontology/>

SELECT (MAX(?count) AS ?maxCount)
WHERE {
  {
    SELECT (COUNT(?subject) AS ?count)
    WHERE {
      {
        SELECT ?subject (COUNT(?link) AS ?indegree)
        WHERE {
          GRAPH <http://cs.dbpedia.org> {
            VALUES (?p ?o) {
              {{#selectors}}
              (<{{{p}}}> <{{{o}}}>)
              {{/selectors}}
            }
            ?subject ?p ?o .
            OPTIONAL {
              ?link dbo:wikiPageWikiLink ?subject .
            }
          }
        }
        GROUP BY ?subject
      }
      FILTER (?indegree < 10)
    }
    GROUP BY ?indegree
  }
}
