html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Voces, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  line-height: 1.5em;
  background-color: #e1e6f5;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.font-small {
  font-size: 62.5%;
}

.font-large {
  font-size: 150%;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.transparent {
  opacity: 0;
}

#start-menu {
  margin-top: 1em;
}

#advanced {
  text-align: left;
}

#advanced h4 a, .nav.nav-tabs a, .form-group a {
  cursor: pointer;
  color: inherit;
}

#advanced .tab-content {
  padding: 1em 0 .5em 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}

.player-field.player-1 {
  color: #fc4349;
}

.player-field.player-2 {
  color: #354d65;
}

.btn-default.active {
  background-color: #C8C8C8;
  border-color: #969696;
}

.btn.btn-default:focus, .btn.btn-primary:focus, .btn.btn-danger:focus, button.close {
  outline: 0;
}

/* Get rid of the confusing focus style for inactive buttons. */
.btn.btn-default:focus:not(.active) {
  background-color: #fff;
  border-color: #ccc;
}

.form-control:focus {
  border-color: #354d65;
  box-shadow: inset 0 1px 1px rgba(44, 62, 80, 0.075), 0 0 8px rgba(44, 62, 80, 0.6);
}

#cookies-warning {
  z-index: 10;
  position: absolute;
  background: #eee;
  height: 65px;
  width: 100%;
  padding: 1em;
  text-align: center;
}

#cookies-warning button {
  margin-left: 1em;
}

#loading {
  position: fixed;
  top: 1em;
  right: 2%;
  padding: 5px 10px;
  height: 50px;
  z-index: 10;
}

#loading p {
  margin-left: 38px;
}

#loadhex {
  float: left;
  position: relative;
  width: 30px;
  height: 17.32px;
  background-color: #000;
  margin: 8.66px 0;
  display: inline-block;
  -webkit-animation: flag_tail linear 5s infinite;
  animation: flag_tail linear 5s infinite;
}

@-webkit-keyframes flag_tail {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes flag_tail {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loadhex:before, #loadhex:after {
  content: "";
  position: absolute;
  width: 0;
  margin-left: -15px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

#loadhex:before {
  bottom: 100%;
  border-bottom: 8.66px solid #000000;
}

#loadhex:after {
  top: 100%;
  width: 0;
  border-top: 8.66px solid #000000;
}

#hex-triangle {
  margin: 0 auto 1em auto;
}

.hex-outer {
  stroke: #000;
}

.hexagon.available:hover .hex-inner {
  fill: url(#hover-inner);
}

.hexagon.available:hover .hex-outer {
  fill: url(#hover-outer);
  filter: url(#drop-shadow);
}

.hexagon.missed:hover .hex-inner {
  fill: url(#hover-missed-inner);
}

.hexagon.missed:hover .hex-outer {
  fill: url(#hover-missed-outer);
  filter: url(#drop-shadow);
}

.hexagon.active .hex-inner {
  fill: url(#active-inner);
}

.hexagon.active .hex-outer {
  fill: url(#active-outer);
  filter: url(#drop-shadow);
}

.hexagon.available .hex-inner, .hexagon.missed .hex-inner {
  cursor: pointer;
}

.hexagon {
  transform-style: preserve-3d;
  transform-origin: center center;
}

#hex-triangle .hexagon.unavailable text {
  cursor: default;
}

#hex-triangle text {
  font-weight: bold;
  cursor: pointer;
}

/* Code reused from <http://cssdeck.com/labs/large-pressable-css-button> */

.button {
  cursor: pointer;
  display: inline-block;
  margin: 6px;
  -webkit-box-shadow: 0 8px 0 #a5a8a8, 0 15px 20px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 8px 0 #a5a8a8, 0 15px 20px rgba(0, 0, 0, .2);
  box-shadow: 0 8px 0 #a5a8a8, 0 15px 20px rgba(0, 0, 0, .2);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  -moz-transition: -moz-box-shadow .1s ease-in-out;
  -o-transition: -o-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  font-size: 30px;
  color: #354d65;
}

.button span {
  display: inline-block;
  padding: 20px 30px;
  background-color: #dedede;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(hsla(0, 0%, 80%, .8)), to(hsla(0, 0%, 70%, .2)));
  background-image: -webkit-linear-gradient(hsla(0, 0%, 80%, .8), hsla(0, 0%, 70%, .2));
  background-image: -moz-linear-gradient(hsla(0, 0%, 80%, .8), hsla(0, 0%, 70%, .2));
  background-image: -o-linear-gradient(hsla(0, 0%, 80%, .8), hsla(0, 0%, 70%, .2));
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(76, 76, 76, .7);
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
  -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
  -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
  transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.button:hover span {
  color: #fff;
  background-color: #fc4349;
  text-shadow: 0 -1px 1px rgba(175, 175, 175, .9), 0 0 5px rgba(255, 255, 255, .8);
  -webkit-box-shadow:    0 8px 0 #c6393c, 0 12px 10px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 8px 0 #c6393c, 0 12px 10px rgba(0, 0, 0, .3);
  box-shadow:    0 8px 0 #c6393c, 0 12px 10px rgba(0, 0, 0, .3);
}

.button:active span {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

table {
  border-spacing: 10px 0;
}

th {
  text-align: left;
}

td {
  padding-top: 10px;
  vertical-align: top;
}

#on-turn {
  font-size: 2em;
  padding: .66em 0;
  color: #fff;
  text-align: center;
}

#on-turn.player-1, #timeout .player-1 {
  background-color: #fc4349;
}

#on-turn.player-2, #timeout .player-2 {
  background-color: #354d65;
}

#timeout, #timeout-shade {
  margin-top: 2px;
  height: 5px;
}

#timeout-shade {
  background-color: #fff;
  position: relative;
  margin-top: -5px;
  margin-left: 0%;
  width: 100%;
}

#timeout-shade.active {
  animation: timeout-progress 45s linear;
}

@keyframes timeout-progress {
  0%  {
    width: 100%;
    left: 0%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

#timeout.player-1 {
  background-color: #fc4349;
  background-image: -webkit-linear-gradient(left, #fc4349, #354d65);
  background-image:         linear-gradient(to right, #fc4349, #354d65);
}

#timeout.player-2 {
  background-color: #354d65;
  background-image: -webkit-linear-gradient(left, #354d65, #fc4349);
  background-image:         linear-gradient(to right, #354d65, #fc4349);
}

#question-box {
  text-align: left;
}

#report-spoiler {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

#report-spoiler.inactive button {
  cursor: default;
}

#report-spoiler.inactive button:hover {
  background: inherit;
}

#description {
  text-align: justify;
}

#verdict div.alert {
  position: relative;
}

#verdict canvas {
  margin-right: 3px;
}

#verdict .progress-bar {
  width: 0;
  height: 4px;
  position: absolute;
  bottom: 5px;
  left: 2%;
  animation: runProgress 5s linear forwards;
}

@keyframes runProgress {
  0%  {
    width: 0%;
    background: rgba(255, 255, 255, .4);
  }
  100% {
    width: 96%;
    background: rgba(255, 255, 255, .8);
  }
}

.glyphicon-start {
  margin-right: 4px;
}

.glyphicon-end {
  margin-left: 4px;
}

#winner h1 {
  font-size: 4em;
  margin: .66em;
}

#winner .player-1 {
  color: #fc4349;
}

#winner .player-2 {
  color: #354d65;
}

.modal-content {
  text-align: left;
  padding: .5em 1.5em;
}

#easter-egg {
  margin-left: 6px;
}

#info-menu {
  z-index: 10;
  position: fixed;
  top: 1em;
  left: 2%;
}

#shine {
  -webkit-animation: flag_tail linear 60s infinite;
  animation: flag_tail linear 60s infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#not-found {
  animation: appear ease-out 2s;
  transform-style: preserve-3d;
}

@keyframes appear {
  0% {
    transform: scale(0, 0) rotateY(0deg);
    opacity: 0.0;
  }
  100% {
    transform: scale(1, 1) rotateY(-360deg);
    opacity: 1.0;
  }
}

.btn-hex {
  position: relative;
  width: 50px;
  height: 28.87px;
  background-color: #eee;
  margin: 14.43px 2px;
  display: inline-block;
}

.btn-hex:before, .btn-hex:after {
  content: "";
  position: absolute;
  width: 0;
  margin-left: -25px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.btn-hex:before {
  bottom: 100%;
  border-bottom: 14.43px solid #eee;
}

.btn-hex:after {
  top: 100%;
  width: 0;
  border-top: 14.43px solid #eee;
}

.btn-hex span {
  font-size: 2em;
  width: 20px;
  height: 20px;
  margin: 0 -10px;
}

#social-media h3 {
  padding-bottom: 2em;
}

#social-media a {
  color: #354d65;
}

#social-media a:hover, #social-media a:focus {
  color: #5a86b1;
}

#social-media a:nth-child(odd) {
  top: -45.43px;
}

#social-media a:not(:first-child) {
  margin-left: -26px;
}

/* Google Chrome specific styles */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .hexagon.active {
    animation: reveal-field ease-out 2s;
  }

  @keyframes reveal-field {
    0% {
      transform: scale(1, 1) rotate3d(0, 1, 0.2, 0deg);
    }
    50% {
      transform: scale(1.2, 1.2) rotate3d(0, 1, 0.2, 180deg);
    }
    100% {
      transform: scale(1.6, 1.6) rotate3d(0, 1, 0.2, 360deg);
    }
  }

  .hexagon.deselected {
    animation: hide-field ease-out 0.5s;
  }

  @keyframes hide-field {
    0% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}

#logo {
  text-align: center;
  margin-bottom: 40px;
}

.navbar-default {
  margin-top: 10px;
  background-color: #354d65;
}

button.as-anchor,
a.as-anchor,
.navbar-nav>li>a.as-anchor {
  color: #fc4349;
  border: none;
  background: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  padding: 15px 20px;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.5s;
}

button.as-anchor:hover,
a.as-anchor:hover,
.navbar-nav>li>a.as-anchor:hover {
  background: #fc4349;
  color: #2c3e50;
}

.navbar-nav {
  margin: 0 15px;
}

@media (max-width: 768px) {
  .navbar-nav {
    margin: 0 -15px;
  }
}

.navbar-brand {
  padding: 0;
}

.form-control {
  border-radius: 0;
  border-color: #2c3e50;
}

label {
  display: block;
}

label.player {
  font-size: 2em;
  margin-bottom: 10px;
}

.btn.btn-default.btn-db {
  border-radius: 0;
  margin: 0 -1px 5px 0;
  border-color: #2c3e50;
  background-color: white;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.btn.btn-default.btn-db:focus,
.btn.btn-default.btn-db:active {
  border-color: #2c3e50;
}

.btn.btn-default.btn-db.active {
  background-color: #2c3e50;
  color: #fc4349;
}


.multiple .btn.btn-default {
  margin: 0 5px 5px 0;
}
.multiple .btn.btn-default.btn-db:focus,
.multiple .btn.btn-default.btn-db:active {
  border-color: #2c3e50;
}

.multiple .btn.btn-default.btn-db.active {
  color: #2c3e50;
  background-color: #fc4349;
}




.btn.btn-default.btn-play {
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
  padding: 0 10px;
  color: #fc4349;
  font-size: 3em;
  background-color: #354d65;
  position: relative;
  display: inline-block;
  border: 0;
  border-radius: 0;
  margin-top: 30px;
  margin-bottom: 15px;
}

.btn.btn-default.btn-play:hover {
  background-color: #2c3e50;
}

.btn.btn-default.btn-play:after {
  position: absolute;
  right: -30px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 0 40px 30px;
  border-color: transparent transparent transparent #354d65;
}

.btn.btn-default.btn-play:hover:after{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 0 40px 30px;
  border-color: transparent transparent transparent #2c3e50;
}

.btn.btn-default.btn-play:before {
  position: absolute;
  left: -30px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 30px 40px 0;
  border-color: transparent #354d65 transparent transparent;
}

.btn.btn-default.btn-play:hover:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 30px 40px 0;
  border-color: transparent #2c3e50 transparent transparent;
}

.btn.btn-default.btn-play:focus,
.btn.btn-default.btn-play:active {
  border-color: #2c3e50;
}

.btn.btn-default.btn-play.active {
  background-color: #2c3e50;
  color: #2c3e50;
}





.tab-content {
  background-color: #d6dbe9;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  border-right: 1px solid #2c3e50;
  border-left: 1px solid #2c3e50;
  border-bottom: 1px solid #2c3e50;
}

.nav-tabs {
  border-bottom: 1px solid #2c3e50;
}

.nav-tabs>li>a {
  border-radius: 0;
  font-size: 1.2em;
  margin-right: 5px;
  border: 1px solid transparent;
  border-bottom: 1px solid #2c3e50;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #2c3e50;
  cursor: default;
  background-color: #d6dbe9;
  border: 1px solid #2c3e50;
  border-bottom: 1px solid #d6dbe9;
}

.nav-tabs>li>a:hover {
  border-color: #e1e6f5;
  border-bottom-color: #2c3e50;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #2c3e50;
}

.btn {
  border-radius: 0;
  border-color: #2c3e50;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.btn.has-offset {
  margin-right: 5px;
}

.alert {
  margin-top: 15px;
  border-radius: 0;
}
